/* public/style.css */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 { 
    font-size: 3rem; 
    margin-bottom: 10px; 
}

button {
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover { 
    background-color: #e67e22; 
}

#result { 
    margin-top: 20px; 
    font-size: 1.2rem; 
    color: #f1c40f; 
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}